@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Graduate&family=Roboto:wght@100&display=swap');
/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Graduate', cursive;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

i {
  font-size: 50px;
  color: #fff;
}

/* desktop main navigation */

.main-nav {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.main-nav__wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.main-nav__logo {
  width: 60%;
}

.main-nav__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__list {
  list-style: none;
  display: none;
}

.main-nav__item {
  cursor: pointer;
  margin-left: 50px;
  text-transform: uppercase;
  transition: 500ms ease all;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
}

.main-nav__item a:hover {
  color: #B2B2B2;
}

/* mobile main navigation */
.main-nav__mobile {
  display: flex;
}

.main-nav__mobile-list {
  z-index: 2;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: RGBA(39,55,90,0.9);
  justify-content: center;
  transition: 1000ms ease all;
}

.main-nav__mobile-item {
  font-size: 24px;

  margin-left: 0;
  padding: 20px 40px;
}

.main-nav__mobile-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}  

.main-nav__btn {
  z-index: 3;
  position: fixed;
  top: 32px;
  right: 20px;
  font-size: 32px;
  transition: 1000ms ease all;
}

.main-nav__btn-active {
  transform: rotate(180deg);
}

/* part with wheel */
.wheel__container {
	min-height:100vh;
	width: 100vw;
	overflow:hidden;
	display: flex;
  justify-content: center;
  align-items: center;
}

.wheel__wrapper {
  width: 350px;
  height: 350px;
  position: relative;
	opacity: .99;
}

.wheel__marker {
  position: absolute;
  width: 30px;
  top: 163px;
  z-index: 4;
}

.wheel__img {
  width: 100%;
  height: 100%;
}

.wheel__btn-wrap {
  margin: 20px;
}

.wheel__score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid #131e3a;
  border-radius: 20px; 
  text-align: center;
  font-size: 1.5em;
  margin: 10px auto;
}

/* general styles */
.display-none {
  display: none;
}

.dark-navy-background {
  background-color: #131E3A;
}

.navy-background {
  background-color: #27375A;
}

.yellow-background {
  background-color: #FFD400;
}

.red-background {
  background-color: #FC0328;
}

.grey-background {
  background-color: #B2B2B2;
}

.blue-background {
  background-color: #2D98FA;
}

.yellow-btn {
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  outline: 0;
  border: 1px solid #131e3a;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Bebas Neue', cursive;
}

.yellow-btn:after {
  content: " ";
  background-color: rgba(255,212,0,1);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 20px;
}

.yellow-btn:hover:after {
  top: 0px;
  left: 0px;
}

/*sliding animation & sliding class */
@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.slide-in {
  animation: slide-in 1000ms ease;
  display: inherit;
}

.slide-out {
  animation: slide-out 1000ms ease;
}

/* blur animation & blur class */
@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.blur {
  animation: blur 10s;
}

/*media queries*/
@media (min-width: 750px) {
  .main-nav__btn {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (max-width: 550px) {
  .wheel__container {
    flex-direction: column;
    justify-content: flex-end;
  }  
}

@media (max-width: 350px) {
  .wheel__wrapper {
    width: 320px;
    height: 320px;
  }  
}
